# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.env

# Poetry
poetry.lock

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.idea/
.vscode/
*.iml

# Data & Models
data/
datasets/
outputs/
logs/
checkpoints/
models/
*.pth
*.pt
*.ckpt

# OS
.DS_Store
Thumbs.dbmodels/
*.pkl
